body{
    background-color: cornflowerblue;
}
#header {
    text-align: center;
    color: azure;
    margin-top:20px;
    font-size: 24px;
}

#Options {
    display: flex;
    margin:350px;
justify-content:space-around;
    align-items: center;
}
#Freefall{
    color: white;
    background-color: darkblue;
     padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
    transition: background-color 0.3s;

}
#RapidFire{
    background-color:darkblue;
    color:white;
    padding:10px 20px;
    font-size:20px;
    border-radius:8px;
    text-decoration:none;
}
