#header{
    color:azure;
    font-size:24px;
    display:flex;
    height:200px;
    justify-content:center;
    align-items:center;
    background-color:rebeccapurple;
}
body{
    background-color:blue;
}
#RegisterInfo{
    display:flex;
    height:200px;
flex-direction:column;
padding: 20px; 
    gap: 15px;
    justify-content:center;
    align-items: center;

    background-color:blue;
}
#RegisterHead{
    font-size:24px;
    margin-bottom:20px;
    color:cyan;
  
}
#LoginInfo{
    display:flex;
    height:200px;
flex-direction:column;
padding: 20px; 
    gap: 15px;
    justify-content:center;
    align-items: center;

    background-color:blue;
}
#LoginHead{
    font-size:24px;
    margin-bottom:20px;
    color:cyan;
  
}