html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

#header{
    color:azure;
    background-color:rebeccapurple;
    height:150px;
    font-size:24px;
    display:flex;
    justify-content: center;
    align-items:center;
}
#Body{
    background-color:turquoise;
    height: 100vh;
}
#Timer{
    height:100px;
    
 font-size:20px;
 display:flex;
 justify-content:center;
 align-items:center;
    width:20vw;
   position:relative;
   left:40%;  
   margin-bottom:10px;

}
#question{
    height:200px;
    background-color:turquoise;
    font-size:30px;
    display:flex;
    justify-content:center;
    align-items:center;

}
#Score{
    height:60px;
    width:100px;
    margin-right:40px;
    font-size:24px;

    display:flex;
    justify-content:center;
    align-items:center;
  
}
#TimeScore{
    display:flex;
    margin:0;
    justify-content:space-between;
    background-color:pink;
}
#Options {
    height: 100vh;
    background-color: rgba(109, 109, 249, 0.876);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 30px;
    align-content: start;
}

#Options button {
    width: 250px;
    height: 100px;
    font-size: 18px;

  margin-left:300px;
  margin-bottom:100px;
  margin-top:75px;
}
